<p>
  <input type="number" min=0 max=23 [(ngModel)]="input1" (input)="testTime()">
  <input type="number" min=0 max=59 [(ngModel)]="input2" (input)="testTime()">
</p>
<p style="color: red;">{{errorMessage}}</p>

<div class="row">
  <div class="col-xs-12 col-12 col-md-4 form-group">
    <input type="text"
           placeholder="Datepicker"
           class="form-control"
           bsDatepicker
           [minDate]='presentDate'
           [bsConfig]="{dateInputFormat: 'DD-MM-YYYY', showWeekNumbers: false}">
  </div>
</div>